@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

*{
  margin: 0;
  padding: 0;
}

body{
  background: #36393f;
}

.app{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Open Sans", sans-serif;
}

.joinForm{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinForm h3{
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
  color: #fff
}

.joinForm form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.joinForm input{
  width: 225px;
  height: 45px;
  margin: 7px;
  padding: 5px;
  font-size: 1.5rem;
  border: 3px solid #00C6BA;
  border-radius: 5px;
}

.joinForm button{
  width: 240px;
  height: 50px;
  margin: 7px;
  padding: 5px;
  font-size: 1.5rem;
  background: #00C6BA;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.joinForm button:hover{
  background: #02aa9f;
}

.chat{
  height: 600px;
  width: 300px;

}

.chatName{
  height: 50px;
  position: relative;
  background: #02aa9f;
  border-radius: 6px;
  display: flex;
}

.chatName p{
  padding: 14px;
  color: #fff;
  font-weight: 500;
}

#roomName{
  flex: 72%;
  display: flex;
  justify-content: flex-end;
}

#liveChat{
  flex: 28%;
}

.chatMessages{
  height: 450px;
  border: 1px solid #00C6BA;
  background: #fff;
}

.messagesList{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.messagesList::-webkit-scrollbar{
  display: none;
 }

.chatMessage{
  height: auto;
  display: flex;
  padding: 10px;
}

.messageInfo{
  display: flex;
  font-size: 12px;
}

.messageInfo #author{
  margin-left: 10px;
  margin-right: 3px;
  font-weight: bold;
}


.chatMessage .messageContent{
  min-height: 26px;
  max-width: 120px;
  width: auto;
  height: auto;
  color: #fff;
  overflow-wrap: break-word;
  word-break: break-word;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

#userOne{
  justify-content: flex-end;
}

#userOne .messageContent{
  justify-content: flex-end;
  background-color: #8659B5
}

#userOne .messageInfo{
  justify-content: flex-end;
  margin-right: 5px;
}

#userTwo{
  justify-content: flex-start;
}

#userTwo .messageContent{
  justify-content: flex-start;
  background-color: #009CE0;
}

#userTwo .messageInfo{
  justify-content: flex-start;
}

.chatInput{
  display: flex;
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
}

.chatInput input{
  height: 100%;
  flex: 85%;
  pad: 0.7rem;
  outline: none;
  border: 0;
}

.chatInput button{
  height: 100%;
  background: white;
  color: #00C6BA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 15%;
  cursor: pointer;
  outline: none;
  border: 0;
}


.chatInput button:hover{
  color: #009CE0;
}